<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Upload and Search</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="static/scripts.ts" defer></script>
</head>
<body>
    <div class="container">
        {% if text %}
        <div>
            <h2>Uploaded PDF Text</h2>
            <form action="/search" method="post">
                <input type="hidden" name="text" value="{{ text }}">
                <button type="submit">Analyse Keywords</button>
            </form>
            <textarea rows="20" readonly>{{ text }}</textarea>
        </div>
        {% else %}
        <h1>Convert PDF to Text</h1>
        <form action="/" method="post" enctype="multipart/form-data" id="upload-form">
            <div id="drop-area">
                <input type="file" name="file" accept=".pdf" style="display: none;" id="file-input" onchange="updateFileName()">
                <div class="file-selection">
                <button type="button" onclick="document.getElementById('file-input').click();">Choose File</button>
                <span id="file-name">No file chosen</span>
                </div>
            </div>
            <button type="submit">Convert</button>
        </form>
        {% endif %}
    </div>
</body>
</html>